@import "tailwindcss";

:root {
  --background: #f0f0f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary:#FFB400;
  --color-secondary: #2B2B2B;
  --color-tertiary: #7EB942;
  --color-quaternary: #767676;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}